src/main/resources/Input.xsd

<?xml version="1.0" ?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Simulation">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded" minOccurs="1">
                <xs:element name="sProcess">
                    <xs:complexType>
                        <xs:attribute name="IOBurstTime" type="xs:int" use="required"/>
                        <xs:attribute name="CPUBurstTime" type="xs:int" use="required"/>
                        <xs:attribute name="CpuTotalWorkTime" type="xs:int" use="required"/>
                        <xs:attribute name="id" type="xs:int" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="DurationOfSimulation" type="xs:int" use="required"/>
        </xs:complexType>
        <xs:unique name="uniqueID">
            <xs:selector xpath="sProcess"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>
</xs:schema>